.contactContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    h2{
        font-size: 30px;
    }
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input-container {
    position: relative;
    margin: 20px;
  }
  
  .input-container input {
    font-size: 18px;
    padding: 10px;
    width: 300px;
    border: none;
    border-bottom: 2px solid #fff;
    background: none;
    outline: none;
    color: white;
  }
  
  .input-container .bar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(to right, #e52521, #e52521);
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
  }
  
  .input-container input:focus + .bar {
    transform: scaleX(1);
  }
  .input-container textarea {
    font-size: 18px;
    padding: 10px;
    width: 300px;
    height: 100px;
    border: none;
    border-bottom: 2px solid #fff;
    background: none;
    outline: none;
    color: white;
    resize: none;
  }
  .input-container textarea:focus + .bar {
    transform: scaleX(1);
  }

  .mario-button {
    background-color: #e52521;
    border: none;
    color: #FFFFFF;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0px 4px 0px #8B0000;
  }
  
  .mario-button:hover {
    background-color: #FF0000;
    cursor: url(../../assets/img/MarioCursorPointer.png),auto;
  }
  .disabled {
    opacity: 0.5;
    box-shadow: none;
    transform: translateY(4px);
  }
  .disabled:hover{
    background-color: #e52521;
    cursor: url(../../assets/img/Super_Mario_GoombaCursor.png),auto !important;
  }
  
  .mario-button:active {
    box-shadow: none;
    transform: translateY(4px);
  }
  @media screen and (min-width:768px) {
    .contactContainer{
        h2{
            font-size: 50px;
        }
    }
  }
  